:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-trasparent-color: rgba(0, 0, 0, 0.5);
  --accent-color: #ff9900;
  --accent-light-color: #ffb84d;
  --accent-dark-color: #e1670e;
  --green-color: #97ee3f;
  --border-color: #cacaca;
  --form-color: #414141;
  --footer-icon-color: #666666;
  --checkbox-active-color: #97ee3f;
  --mobile-header-text-color: #333;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montseratt-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montseratt-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montseratt-ExtraBold"), url("../fonts/Montserrat-extrabold.woff2") format("woff2"), url("../fonts/Montserrat-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montseratt-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  padding: 0 75px;
}

.site-header {
  color: var(--black-color);
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.subtitle {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  line-height: 32px;
  /* 133.333% */
}

.h3 {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

/* header */
.header {
  margin-bottom: 50px;
  border-radius: 0px 0px 32px 32px;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  margin: auto;
  padding: 14px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  font-size: 0;
}

.header__logo__img {
  font-size: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 85px;
  margin-right: 85px;
}

.header__link {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header__link:active {
  color: var(--accent-dark-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  outline: none;
}

.header__link:active::after {
  opacity: 1;
  background-color: var(--accent-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.header__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
}

.header__btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__btn:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.header__btn rect {
  fill: var(--black-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__btn:hover rect {
  fill: var(--accent-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__btn:active rect {
  fill: var(--black-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.header__btn path {
  stroke: var(--black-color);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__btn:hover path {
  stroke: var(--accent-color);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.header__btn:active path {
  stroke: var(--black-color);
  -webkit-transition: stroke 0.3s ease-in-out;
  -o-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

/* hero */
.hero {
  margin-bottom: 50px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 80px;
  border-radius: 32px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.hero__title {
  color: var(--white-color);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 85.33px;
  max-width: 837px;
  margin-bottom: 24px;
}

.hero__descr {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  max-width: 790px;
  margin-bottom: 90px;
}

.hero__btn {
  margin-right: auto;
  padding: 25px 39px;
  border-radius: 16px;
  background: var(--accent-color);
  color: var(--white-color);
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.hero__btn:active {
  background-color: var(--accent-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

/* about */
.about {
  margin-bottom: 100px;
}

.about__h3 {
  margin-bottom: 8px;
  padding-left: 240px;
}

.about__descr {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 1235px;
  margin-bottom: 46px;
  padding: 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url("../img/about.jpg");
  border-radius: 32px;
  margin-right: 32px;
  width: 868px;
}

.about__banner-content {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  width: inherit;
}

.about__paragraph {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 160px;
  max-width: 433px;
}

.about__btn {
  border-radius: 16px;
  outline: 3px solid var(--accent-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 19px 38px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.about__btn:hover {
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.about__btn:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.about__btn:active {
  background-color: var(--accent-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  outline: 3px solid var(--accent-dark-color);
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.about__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid var(--border-color);
  border-radius: 32px;
  padding: 65px 118px 65px 60px;
  max-width: 930px;
  background-repeat: no-repeat;
  background-size: 190px 165px;
  background-position: 60px center;
}

/* .about__img {
  margin-right: 46px;
} */

.about__img1 {
  /* margin-right: 46px; */
  background-image: url("../img/Card-1.svg");
}

.about__img2 {
  /* margin-right: 46px; */
  background-image: url("../img/card-2.svg");
}

.about__img-file {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.about__item-p {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-left: 240px;
}

/* stages */
.stages {
  margin-bottom: 100px;
}

.stages__header {
  margin-bottom: 32px;
}

.stages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stages__left {
  margin-right: auto;
}

.stages__paragraph {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 18px;
  max-width: 758px;
  margin-right: 50px;
}

.stages__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.stages__btn {
  padding: 19px 38px;
  border-radius: 16px;
  outline: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.stages__btn:hover {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.stages__btn:focus {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.stages__btn:active {
  background-color: var(--accent-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.stages__sec-btn {
  padding: 19px 38px;
  border-radius: 16px;
  outline: 1px solid var(--black-color);
  color: var(--black-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: color, background-color 0.3s ease-in-out;
  -o-transition: color, background-color 0.3s ease-in-out;
  transition: color, background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.stages__sec-btn:hover {
  background-color: var(--footer-icon-color);
  color: var(--white-color);
  border: 1px solid var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.stages__sec-btn:focus {
  background-color: var(--footer-icon-color);
  color: var(--white-color);
  border: 1px solid var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  outline: none;
}

.stages__sec-btn:active {
  background-color: var(--black-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.stages__right {
  background-image: url("../img/stages_img.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  width: 870px;
}

/* questions */
.questions {
  margin-bottom: 100px;
}

.questions__header {
  margin-bottom: 32px;
}

.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 32px;
}

.questions__sub {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  max-width: 400px;
}

.questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 65px 65px 65px 60px;
  outline: solid 1px var(--border-color);
  border-radius: 32px;
}

.questions__paragraph {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 444px;
}

/* footer */
.footer__container {
  background-color: var(--black-color);
  padding: 50px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  max-width: 252px;
  margin-right: 349px;
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__link {
  color: var(--border-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  /* 200% */
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--accent-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
}

.footer__link:active {
  color: var(--accent-dark-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 570px;
  margin-right: auto;
}

.footer__header {
  color: var(--border-color);
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.footer__form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
}

.footer__message {
  display: block;
  margin-bottom: 7px;
}

.footer__message::-webkit-input-placeholder {
  line-height: 32px;
  font-size: 14px;
}

.footer__message::-moz-placeholder {
  line-height: 32px;
  font-size: 14px;
}

.footer__message:-ms-input-placeholder {
  line-height: 32px;
  font-size: 14px;
}

.footer__message::-ms-input-placeholder {
  line-height: 32px;
  font-size: 14px;
}

.footer__message::placeholder {
  line-height: 32px;
  font-size: 14px;
}

.footer__input {
  border-radius: 16px;
  background-color: var(--form-color);
  padding: 14px 24px;
  border: none;
  color: var(--border-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  height: 60px;
}

.footer__input:hover {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__input:focus {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.footer__input:active {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: var(--white-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  outline: none;
}

.footer__message {
  min-height: 150px;
  border-radius: 16px;
  background-color: var(--form-color);
  padding: 14px 24px;
  border: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  resize: none;
  color: var(--border-color);
}

.footer__message:hover {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__message:focus {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.footer__message:active {
  background-color: var(--footer-icon-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: var(--white-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  outline: none;
}

.footer__message::-webkit-input-placeholder {
  font-size: 16px;
}

.footer__message::-moz-placeholder {
  font-size: 16px;
}

.footer__message:-ms-input-placeholder {
  font-size: 16px;
}

.footer__message::-ms-input-placeholder {
  font-size: 16px;
}

.footer__message::placeholder {
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: var(--border-color);
}

::-moz-placeholder {
  color: var(--border-color);
}

:-ms-input-placeholder {
  color: var(--border-color);
}

::-ms-input-placeholder {
  color: var(--border-color);
}

::placeholder {
  color: var(--border-color);
}

.footer__form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.footer__checkbox {
  width: 0;
  height: 0;
  opacity: 1;
  position: absolute;
  /* z-index: -1; */
}

.footer__checkbox:focus {
  margin-left: 5px;
  outline: 1px solid var(--accent-color);
  outline-offset: 12px;
}

.footer__checkbox-custom {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid var(--white-color);
  margin-right: 4px;
  vertical-align: sub;
}

.footer__checkbox-custom::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.footer__checkbox:checked + .footer__checkbox-custom::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.footer__button {
  border-radius: 16px;
  background: var(--accent-color);
  padding: 19px 52px;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__button:hover {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__button:focus {
  background-color: var(--accent-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.footer__button:active {
  background-color: var(--accent-dark-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.footer__checkbox {
  margin-right: 4px;
}

.footer__agreement {
  color: var(--border-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  white-space: nowrap;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 363px;
  color: var(--border-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 200% */
}

.footer__link-icon svg {
  fill: var(--footer-icon-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__link-icon:hover svg {
  fill: var(--accent-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__link-icon:focus {
  outline: none;
}

.footer__link-icon:focus svg {
  outline: 2px solid var(--accent-color);
  outline-offset: 5px;
}

.footer__link-icon:active svg {
  fill: var(--accent-dark-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  outline: none;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
